.root {
  border-left: solid 1.3px;
}

.container {
  background-color: rgb(115, 116, 115);
  margin: 5px 5px;
  padding: 3px;
  border-radius: 25px;
  transition: all 100ms 0s ease;
  transition-timing-function: ease-in;

  line-height: 1.1rem;
}

.container:hover {
  cursor: pointer;
  background-color: rgb(168, 168, 168);
}

.cap {
  font-size: 8px;
  position: relative;
  color: white;
  right: 12px;
  bottom: 25px;
  border-radius: 25px;
  background-color: #e24444;

  transition: all 300ms 0s ease;
  transition-timing-function: ease-in;
  padding: 2px;
}

.cap:hover {
  background-color: rgb(131, 126, 113);
}

.container:focus {
  background-color: rgb(87, 87, 90);
  outline: none;
}

.fbar {
  width: 5px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;

  left: -3px;
  z-index: 0;
  background-color: rgb(161, 161, 161);
}
