.container {
  background-color: var(--main-header-color);
}

.container div {
  display: inline;
  margin-left: 16px;
  padding-bottom: 5px;
}

.btn {
  cursor: pointer;
  color: var(--main-button-font-color);
}

.btn a {
  text-decoration: none;
  color: inherit;
}
