.container {
  margin-top: 0;
  margin-bottom: 40px;
}

.selected {
  overflow-x: auto;
}

.selected > div {
  margin-left: 5px;
  text-align: left;
  display: inline;
}

.intputGroup {
  display: table;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 40px;
}
.intputGroup > div {
  display: table-cell;
  border: 1px solid #ddd;
  vertical-align: middle; /* needed for Safari */
}

.intputGroup > div + div {
  background-color: rgb(109, 109, 109);
}

.intputGroup > div + div:hover {
  opacity: 0.9;
}

.intputGroup > div + div:active {
  background-color: rgb(158, 158, 158);
}

.btn {
  color: white;
  padding: 5px;
  cursor: pointer;
}

.text {
}

textarea {
  resize: none;
  font-size: 18px;
  width: 60vw;
  height: 15vh;
  outline: none;
}
