.container {
  color: rgb(209, 209, 209);
  margin-top: 0;
  padding-bottom: 40px;
  background-color: rgb(48, 54, 59);
}

.selected {
  overflow-x: auto;
}

.selected > div {
  margin-left: 5px;
  text-align: left;
  display: inline;
}

.intputGroup {
  display: table;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: rgb(209, 209, 209);
}
