.container {
  display: flex;
  height: 97.6vh;
  margin: 0;
  background-color: rgb(38, 41, 44);
}

.logDisplay {
  margin: 10px;
  display: block;
  width: 25vw;
  min-width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.messageDisplay {
  margin: 10px;
  display: block;
  width: 75vw;
  min-width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.contentContainer {
  width: 77vw;
  overflow-y: auto;
}

.textwrap {
  background-color: #f0f0f0;
  width: inherit;
  position: fixed;
  bottom: 0;
}

.dump {
  margin-bottom: 150px;
}

.inputForm {
  margin-bottom: 10px;
}

.inputForm > div {
  margin-bottom: 5px;
}

.inputForm > div > label {
  margin-right: 10px;
  width: 40px;
  float: left;
}

.logs {
}

.log:hover {
  color: #61dafb;
  cursor: pointer;
}

details {
  background-color: rgb(87, 88, 92);
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  cursor: default;
}

summary {
  outline: none;
  color: white;
}
