.rootcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  margin: 0;
  background-color: rgb(38, 41, 44);
}

.container .logDisplay {
  display: inline-block;
}

.container .messageDisplay {
  display: inline-block;
}

.logDisplay {
  height: 100%;
  min-width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.messageDisplay {
  padding-left: 10px;
  height: 100%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.dump {
  margin-bottom: 150px;
}

.inputForm {
  margin-bottom: 10px;
}

.inputForm > div {
  margin-bottom: 5px;
}

.inputForm > div > label {
  margin-right: 10px;
  width: 40px;
  float: left;
}

.logs {
  padding-bottom: 40px;
}

.log:hover {
  color: #61dafb;
  cursor: pointer;
}

details {
  background-color: rgb(87, 88, 92);
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  cursor: default;
}

summary {
  outline: none;
  color: white;
}
