.container {
  display: inline-block;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 3px;

  background-color: gray;
  border-radius: 5px;
}

.container span {
  font-size: 10x;

  cursor: pointer;
}

.close {
  position: relative;
  top: 2px;

  width: 10px;
  height: 10px;
}
