.header {
  background-color: red;
  height: 24px;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: gray;
}

.body {
  height: 100%;
  width: 100%;
  background-color: green;
}

.body div {
  height: inherit;
  display: inline-block;
}
