.container {
  display: flex;
  height: 97.6vh;
  margin: 0;
}

.userList {
  display: block;
  width: 18vw;
  min-width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: rgb(87, 88, 92);
}

.contentContainer {
  width: 77vw;
  color: rgb(209, 209, 209);
}

.textwrap {
  max-height: 40vh;
  background-color: #f0f0f0;
  width: inherit;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}

.messagewrap {
  background-color: rgb(48, 54, 59);
  color: rgb(209, 209, 209);
  overflow-y: auto;
  height: 75vh;
}

.dump {
  margin-bottom: 150px;
}
