.container {
  display: flex;
  height: 97.6vh;
  margin: 0;
}

.userList {
  display: block;
  width: 18vw;
  min-width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: rgb(87, 88, 92);
}

.usercontainer:hover {
  animation: selecton 200ms ease 1 normal;
}

.contentContainer {
  width: 77vw;
  color: rgb(209, 209, 209);
}

.textwrap {
  max-height: 42vh;
  background-color: rgb(48, 54, 59);
  width: inherit;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}

.textwrap:hover {
  animation: selectbody 200ms ease 1 normal;
}

.messagewrap {
  background-color: rgb(48, 54, 59);
  color: rgb(209, 209, 209);
  overflow-y: auto;
  height: 80vh;
  max-height: 80vh;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.messagewrap:hover {
  animation: selectbody 200ms ease 1 normal;
}

.dump {
  margin-bottom: 150px;
}

@keyframes selecton {
  /*animetion-nameで設定した値を書く*/

  0% {
    opacity: 1;
  } /*アニメーション開始時は不透明度0%*/

  20% {
    opacity: 0.8;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}

@keyframes selectbody {
  /*animetion-nameで設定した値を書く*/

  0% {
    opacity: 1;
  } /*アニメーション開始時は不透明度0%*/

  20% {
    opacity: 0.96;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}
