.container {
  height: 100%;
  margin: 0;
}

.container .userList {
  display: inline-block;
}

.container .contentContainer {
  display: inline-block;
}

.userList {
  height: 100%;
  width: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: rgb(38, 41, 44);
}

.usercontainer:hover {
  animation: selecton 200ms ease 1 normal;
}

.contentContainer {
  height: 100%;
  display: block;
  width: calc(100% - 18vw);

  background-color: rgb(73, 77, 80);
  color: rgb(209, 209, 209);
}

.textwrap {
  max-height: 42vh;
  background-color: rgb(48, 54, 59);
  width: inherit;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}

.textwrap:hover {
  animation: selectbody 200ms ease 1 normal;
}

.messagewrap {
  background-color: rgb(48, 54, 59);
  color: rgb(209, 209, 209);
  overflow-y: auto;

  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.messagewrap:hover {
  animation: selectbody 200ms ease 1 normal;
}

.goBottom {
  text-align: center;
  cursor: pointer;
  background-color: rgb(110, 110, 110);
  width: 20%;
  border-radius: 25px;
  position: fixed;
  left: 25rem;
  bottom: 12.5rem;
}

.dump {
  margin-bottom: 250px;
}

@keyframes selecton {
  /*animetion-nameで設定した値を書く*/

  0% {
    opacity: 1;
  } /*アニメーション開始時は不透明度0%*/

  20% {
    opacity: 0.8;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}

@keyframes selectbody {
  /*animetion-nameで設定した値を書く*/

  0% {
    opacity: 1;
  } /*アニメーション開始時は不透明度0%*/

  20% {
    opacity: 0.96;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}
