.container {
  position: absolute;
  width: 95.5%;
  height: 100%;
}

.container > div {
  height: inherit;
  display: inline-grid;
}

.userList {
  width: 13vw;
  overflow-y: auto;
}

.contentContainer {
  width: 86%;
}

.wrapper {
  display: block;
  padding-bottom: 30px;
  overflow-y: auto;
}
