.container {
  list-style: none;
  text-align: center;
  display: block;
}

.container input {
  font-size: 0.8rem;
  width: 15vw;
  height: 1.4rem;
  transition: all 300ms 0s ease;
  transition-timing-function: ease-in;

  color: white;
  background-color: inherit;
}
