.container {
  margin: 10px 5px 5px 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
}

.container div {
  display: inline-block;
}

.cap {
  width: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;

  right: 3px;
  bottom: 7px;
  z-index: 9;
  font-size: 7px;

  background-color: rgb(218, 64, 64);
}

.cap:hover {
  font-size: 7px;
}

.live {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px rgb(209, 209, 209);
  position: relative;
  right: 10px;
}

.container:hover {
  .live {
    border: none;
    width: 11px;
    height: 11px;
    background-color: rgb(72, 226, 131);
  }
}
