.container {
  margin: 10px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
}

.cap {
  font-size: 8px;
  position: relative;
  color: white;
  right: 2px;
  bottom: 13px;
  border-radius: 5px;
  background-color: #e24444;

  transition: all 300ms 0s ease;
  transition-timing-function: ease-in;
  padding: 2px;
}

.cap:hover {
  background-color: rgb(255, 195, 31);
}
