.container {
  min-width: 60px;
  width: 5vw;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(48, 54, 59);
}

.container:hover {
  animation: selecton 200ms ease 1 normal;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* スクロールバーの動く部分 */
::-webkit-scrollbar-thumb {
  background-color: rgba(148, 148, 148, 0.3);
  border-radius: 10px;
}

.dump {
  margin-bottom: 100px;
}

@keyframes selecton {
  /*animetion-nameで設定した値を書く*/

  0% {
    opacity: 1;
  } /*アニメーション開始時は不透明度0%*/

  20% {
    opacity: 0.95;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}
