/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~simplemde/dist/simplemde.min.css';

body {
  position: relative;
  height: 100vh;
  background-color: #f3f3f3;
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic';
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  color: rgb(209, 209, 209);
}

.CodeMirror,
.CodeMirror-scroll {
  max-height: 150px;
  min-height: 50px;
}

.CodeMirror {
  width: 60vw;
}

.editor-statusbar {
  color: rgb(209, 209, 209);
  background-color: rgb(48, 54, 59);
}

.editor-toolbar {
  height: inherit;
}
.editor-toolbar:before {
  margin-bottom: 0px;
}

.editor-toolbar:after {
  margin-top: 0px;
}

.fa {
  font-size: 8px;
}

option {
  font-weight: 100;
}
